---
# yamllint disable truthy
name: GitHub Docker Registry Build

on:
  schedule:
    - cron: "0 2 * * 1" # At 2:00 on Monday.
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

permissions: read-all

jobs:
  BuildAndRelease:
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        php: [php74, php80, php81, php82, php83, php84]
        arch: ["linux/amd64", "linux/arm64"]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push (${{ matrix.php }} / ${{ matrix.arch }})
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: ${{ matrix.php }}/Dockerfile
          platforms: ${{ matrix.arch }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.php }}
